* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
  background-color: rgb(253, 253, 253);
  overflow-x: hidden;
}

.header {
  background-color: antiquewhite;
  padding: 1.6rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-log {
  font-size: 3.2rem;
  font-weight: 400;
}

.nav-list {
  display: flex;
  list-style-type: none;
  gap: 2rem;
  align-items: center;
}

.anchor-li:link,
.anchor-li:visited {
  display: inline-block;
  padding: 1.2rem;
  background-color: bisque;
  color: #555;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  transition: all 0.3s;
  border-radius: 12px;
}

.anchor-li:hover,
.anchor-li:active {
  background-color: antiquewhite;
  color: rgb(137, 137, 137);
}

.anchor-li.cta:link,
.anchor-li.cta:visited {
  padding: 1.6rem;
  background-color: rgba(250, 140, 6, 0.708);
}

.anchor-li.cta:link:hover,
.anchor-li.cta:link:active {
  background-color: antiquewhite;
  color: rgb(137, 137, 137);
}

.section-1 {
  /* background-color: antiquewhite; */
  padding: 3.2rem 0 8.4rem 0;
  height: 100vh;
  margin: 0 auto;
}

.out {
  position: relative;
  width: 35rem;
  background-color: rgb(229, 228, 228);
  box-shadow: 0rem 0.3rem 15px 2px rgba(146, 146, 146, 0.753);
  border-radius: 15px;
  margin: 5rem auto;
  padding-top: 1.6rem;
}

.toggle {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.8rem 1.6rem 0.8rem 1.6rem;
  background-color: rgb(90, 90, 90);
  border-radius: 19px;
  font-family: inherit;
  font-size: 1.2rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  letter-spacing: 1px;

  z-index: 1;
}

.powered {
  position: absolute;
  color: rgb(89, 89, 89);
  bottom: 0.8rem;
  right: 2rem;
  font-size: 0.8rem;
  font-style: inherit;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.foodchef {
  width: 5rem;
}

#display {
  margin: auto;
  border: none;
  padding: 2.5rem 0.6rem 2.5rem 1.6rem;
  margin-top: 3.2rem;
  margin-left: 2.4rem;
  pointer-events: none;
  font-size: 1.6rem;
  font-weight: 500;
  /* font-family: inherit; */
  width: 30rem;
  text-align: end;
  box-shadow: 0px 0px 21px 2px inset rgb(236, 233, 233);
  border-radius: 15px;
}

.container {
  margin: auto;
  padding: 3.2rem 0 3.2rem 0;
  width: 30rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  column-gap: normal;
}

.calci {
  border: none;
  padding: 3.2rem;
  background-color: rgb(229, 231, 232);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1.6rem;
  margin: 0.6rem;
  border-radius: 10px;
  box-shadow: 0px 0px 21px 2px rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s;
}

.calci:hover {
  background-color: rgba(178, 213, 213, 0.311);
}

.itemc {
  grid-area: 1/1 / span 1 / span 1;
  background-color: rgb(235, 55, 27);
  color: #fff;
}

.itemc:hover {
  background-color: rgb(255, 34, 0);
}

.item0 {
  grid-area: 5/1 / span 1 / span 2;
}

.itemeq {
  grid-area: 4/4 / span 2 / span 1;
  padding-top: 4.4rem;
  padding-bottom: 4.4rem;
  background-color: rgb(82, 174, 235);
  color: #fff;
}

.itemeq:hover {
  background-color: rgb(38, 160, 241);
}

.black1 {
  background-color: rgb(90, 90, 90);
  box-shadow: none;
  box-shadow: 0 0 12px 2px rgb(76, 76, 76);
}

.black1 .calci {
  box-shadow: none;
  box-shadow: 0 0 4px 0.1px rgb(206, 206, 206);
}

.black1 .itemc,
.black1 .itemeq {
  box-shadow: none;
}

.black1 .powered {
  font-size: 0.8rem;
  font-style: inherit;
  font-weight: normal;
  letter-spacing: 0.3px;
  color: #fff;
}

.powered .foodchefw {
  display: none;
}

.black1 .powered .foodchef {
  display: none;
}

.black1 .powered .foodchefw {
  display: inline;
  width: 5rem;
}

.black1 #display {
  box-shadow: none;
  background-color: #fff;
  box-shadow: 0px 0px 14px 0.1px inset rgb(142, 142, 142);
}
